<section id="users">
  <header>
    <div>
      <h2>Users</h2>
      <a href="#" id="new-user">Create User <i class="fa-solid fa-plus"></i></a>
    </div>
    <hr />
  </header>
  <div class="container">
    <div class="header">
      <p>ID</p>
      <p>First Name</p>
      <p>Last Name</p>
      <p>Email Address</p>
      <p>Password</p>
    </div>
    <form id="new-popup" novalidate>
      <label>New User</label>
      <input
        type="text"
        name="first-name"
        class="first-name"
        placeholder="First name"
        required
      />
      <input
        type="text"
        name="last-name"
        class="last-name"
        placeholder="Last name"
        required
      />
      <input
        type="email"
        name="email"
        class="email"
        placeholder="Email address"
        required
      />
      <input
        type="password"
        name="create-password"
        class="create-password"
        placeholder="Create password"
        required
      />
      <input
        type="password"
        name="confirm-password"
        class="confirm-password"
        placeholder="Confirm password"
        required
      />
      <div>
        <button type="submit" class="button primary save">Save</button>
        <button type="button" class="button danger cancel">Cancel</button>
      </div>
    </form>
    <form id="edit-popup">
      <label>Edit</label>
      <input class="first-name" type="text" placeholder="First name" />
      <input class="last-name" type="text" placeholder="Last name" />
      <input class="email" type="text" placeholder="Email" />
      <input class="password" type="text" placeholder="Password" />
      <div>
        <button type="submit" class="button primary save">Save</button>
        <button type="button" class="button danger cancel">Cancel</button>
      </div>
    </form>
    <div id="delete-popup">
      <h3>Are you sure you want to delete this user?</h3>
      <div>
        <button type="button" class="button danger delete">Delete</button>
        <button type="button" class="button cancel">Cancel</button>
      </div>
    </div>
  </div>
</section>
