<div>
  <!-- Footer Navigation Links -->
  <div>
    <ul class="footer-links">
      <li class="link"><a href="../about.html">About</a></li>
      <li class="link">
        <a href="../contact.html">Contact</a>
      </li>
      <li class="link">
        <a href="../sitemap.html">Sitemap</a>
      </li>
    </ul>
    <a href="../index.html" class="logo"
      ><img src="../assets/img/logo.png" alt="Silent Library Logo"
    /></a>
    <ul class="footer-links">
      <li class="link">
        <a href="../privacy-policy.html">Privacy Policy</a>
      </li>
      <li class="link">
        <a href="../terms-and-conditions.html">Terms and Conditions</a>
      </li>
    </ul>
  </div>
  <hr />
  <!-- Social Media Links -->
  <ul id="socmed-links">
    <li class="link">
      <a href="#"><img src="../assets/icons/fb.png" alt="Facebook Page" /></a>
    </li>
    <li class="link">
      <a href="#"
        ><img src="../assets/icons/twitter.png" alt="Twitter Profile"
      /></a>
    </li>
    <li class="link">
      <a href="#"><img src="../assets/icons/ig.png" alt="Instagram Page" /></a>
    </li>
    <li class="link">
      <a href="#"><img src="../assets/icons/yt.png" alt="Youtube Channel" /></a>
    </li>
  </ul>
  <p id="copyright">&#169; Silent Library, Inc. 2022</p>
  <div class="footer mobile">
    <a href="../index.html"
      ><img class="logo" src="../assets/img/logo.png" alt="Silent Library Logo"
    /></a>
    <ul class="footer-links-mobile">
      <li class="link">
        <a href="../about.html"><div>About</div></a>
      </li>
      <li class="link">
        <a href="../contact.html"><div>Contact</div></a>
      </li>
      <li class="link">
        <a href="../sitemap.html"><div>Sitemap</div></a>
      </li>
      <li class="link">
        <a href="../privacy-policy.html"><div>Privacy Policy</div></a>
      </li>
      <li class="link">
        <a href="../terms-and-conditions.html"
          ><div>Terms and Conditions</div></a
        >
      </li>
    </ul>
    <ul class="socmed-links-mobile">
      <li class="link">
        <a href="#"
          ><div>
            <img src="../assets/icons/fb.png" alt="Facebook Page" />Facebook
          </div></a
        >
      </li>
      <li class="link">
        <a href="#"
          ><div>
            <img
              src="../assets/icons/twitter.png"
              alt="Twitter Profile"
            />Twitter
          </div></a
        >
      </li>
      <li class="link">
        <a href="#"
          ><div>
            <img src="../assets/icons/ig.png" alt="Instagram Page" />Instagram
          </div></a
        >
      </li>
      <li class="link">
        <a href="#"
          ><div>
            <img src="../assets/icons/yt.png" alt="Youtube Channel" />Youtube
          </div></a
        >
      </li>
    </ul>
  </div>
</div>
