<nav>
  <!-- Logo -->
  <a href="../index.html" class="logo"
    ><img src="../assets/img/logo.png" id="nav-logo" alt="Silent Library Logo"
  /></a>
  <!-- Navigation Links -->
  <ul id="nav-links">
    <li class="link dropdown">
      <a href="../browse.html">Browse &#x25BC;</a>
      <ul class="dropdown-menu">
        <li class="link">
          <a id="nav-sort-bytitle" href="../browse.html#bytitle">By Title</a>
        </li>
        <li class="link">
          <a id="nav-sort-byauthor" href="../browse.html#byauthor">By Author</a>
        </li>
        <li class="link">
          <a id="nav-sort-bygenre" href="../browse.html#bygenre">By Genre</a>
        </li>
        <li class="link">
          <a id="nav-sort-trending" href="../browse.html#trending">Trending</a>
        </li>
        <li class="link">
          <a id="nav-sort-recommendations" href="../browse.html#recommendations"
            >Recommendations</a
          >
        </li>
      </ul>
    </li>
    <li class="link dropdown">
      <a href="../events-and-promotions.html">Events and Promotions &#x25BC;</a>
      <ul class="dropdown-menu">
        <li class="link">
          <a href="../events-and-promotions.html#events">Upcoming Events</a>
        </li>
        <li class="link">
          <a href="../events-and-promotions.html#promotions">Promotions</a>
        </li>
      </ul>
    </li>
    <li class="link"><a href="../about.html">About</a></li>
    <li class="link"><a href="../contact.html">Contact</a></li>
  </ul>
  <!-- Log in and Sign up buttons -->
  <ul id="nav-buttons">
    <li class="link login">
      <a class="button" href="../log-in.html">Log in</a>
    </li>
    <li class="link signup">
      <a class="button primary" href="../sign-up.html">Sign up</a>
    </li>
    <li class="link account dropdown">
      <a class="button primary" href="../account.html">Account</a>
      <ul class="dropdown-menu">
        <li class="link view-account">
          <a href="../account.html">View Account</a>
        </li>
        <li class="link">
          <a id="signout" class="danger" href="#">Sign out</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="nav mobile">
    <label for="hamburger"><i class="fa-solid fa-bars"></i></label>
    <input title="menu" id="hamburger" name="hamburger" type="checkbox" />
    <div class="drop-nav">
      <ul id="nav-links-mobile">
        <li class="link dropdown">
          <a href="#"><div>Browse &#x25BA;</div></a>
          <ul class="dropdown-menu">
            <li class="link">
              <a id="nav-sort-bytitle-mobile" href="../browse.html#bytitle"
                ><div>By Title</div></a
              >
            </li>
            <li class="link">
              <a id="nav-sort-byauthor-mobile" href="../browse.html#byauthor"
                ><div>By Author</div></a
              >
            </li>
            <li class="link">
              <a id="nav-sort-bygenre-mobile" href="../browse.html#bygenre"
                ><div>By Genre</div></a
              >
            </li>
            <li class="link">
              <a id="nav-sort-trending-mobile" href="../browse.html#trending"
                ><div>Trending</div></a
              >
            </li>
            <li class="link">
              <a
                id="nav-sort-recommendations-mobile"
                href="../browse.html#recommendations"
                ><div>Recommendations</div></a
              >
            </li>
          </ul>
        </li>
        <li class="link dropdown">
          <a href="#"><div>Events and Promotions &#x25BA;</div></a>
          <ul class="dropdown-menu">
            <li class="link">
              <a href="../events-and-promotions.html#events"
                ><div>Upcoming Events</div></a
              >
            </li>
            <li class="link">
              <a href="../events-and-promotions.html#promotions"
                ><div>Promotions</div></a
              >
            </li>
          </ul>
        </li>
        <li class="link">
          <a href="../about.html"><div>About</div></a>
        </li>
        <li class="link">
          <a href="../contact.html"><div>Contact</div></a>
        </li>
        <li class="link login">
          <a href="../log-in.html"><div>Log in</div></a>
        </li>
        <li class="link signup">
          <a href="../sign-up.html"><div>Sign up</div></a>
        </li>
        <li class="link dropdown account">
          <a href="#">Account &#x25BA;</a>
          <ul class="dropdown-menu">
            <li class="link">
              <a href="../account.html">View Account</a>
            </li>
            <li class="link">
              <a class="danger" href="../account.html">Sign out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
