#hero-banner {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  width: 100vw;
  height: calc(100vw * 6 / 16);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10%;
}

#hero-banner * {
  margin: 0.5rem 0;
}

#hero-banner h1 {
  text-align: center;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

#hero-banner a.button {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

#news-and-updates {
  width: 100vw;
}

#news-and-updates h2 {
  margin-bottom: 1.5rem;
}

.article-container {
  display: flex;
  justify-content: space-between;
}

.article-container article {
  overflow: hidden;
  width: 30%;
}

.article-container article * {
  margin: 0.5rem 0;
}

.article-container article img {
  width: 100%;
}

.article-container article h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

.article-container article p {
  font-size: 0.9rem;
  font-weight: 300;
}

.article-container article a {
  font-size: 0.9rem;
  font-weight: 500;
}

#call-to-action {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: rgb(var(--bg-color));
  padding: 4rem 3rem;
  margin-inline: 0;
}

#call-to-action h2 {
  justify-self: left;
  flex: 1 1;
  font-size: 1.5rem;
}

#call-to-action a.button {
  margin: 0 0.5rem;
}

#cta-button-container {
  justify-self: right;
}
